<div class="wrapper">
  <h2>Dane użytkownika</h2>
  <fa-icon [icon]="exit" (click)="close()"></fa-icon>
  <form [formGroup]="service.form" class="normal-form" (submit)="updateUserDetails()">
    <input type="hidden" formControlName="id">
    <!--    <small [class.mat-error]="msg.status==500">{{msg.message}}</small>-->
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <div class="controls-container">
          <mat-form-field>
            <input type="text" formControlName="firstName" matInput placeholder="Imię *">
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" formControlName="lastName" matInput placeholder="Nazwisko *">
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
          <div class="add-bottom-padding">
            <mat-label>Płeć *</mat-label>
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="mężczyzna">Mężczyzna</mat-radio-button>
              <mat-radio-button value="kobieta">Kobieta</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <input type="text" formControlName="email" matInput placeholder="Email *">
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" formControlName="phoneNumber" matInput placeholder="Numer telefonu *">
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Hasło *">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <input type="text" formControlName="birthDate" [matDatepicker]="picker" matInput placeholder="Data urodzenia (YYYY-MM-DD) *">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <div class="controls-container">

          <mat-form-field>
            <input type="text" formControlName="country" matInput placeholder="Kraj *" >
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" formControlName="street" matInput placeholder="Ulica *">
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" formControlName="houseNoFlatNo"  matInput placeholder="Numer domu/Numer mieszkania *">
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" formControlName="postcode" matInput placeholder="Kod pocztowy (XX-XXX) *">
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" formControlName="city" matInput placeholder="Miasto *">
            <mat-error>To pole nie może być puste</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>


      <mat-grid-tile class="buttons" [colspan]="2" [rowspan]="1">
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Zatwierdź</button>
          <button mat-raised-button color="warn" type="reset">Wyczyść</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>


