<div class="wrapper">
  <p class="location">Polska, Warszawa, Górce</p>
  <p class="car">({{vehicle.vehicleType}}) {{vehicle.vehicleBrand}} {{vehicle.vehicleModel}} {{vehicle.registration}}</p>
  <div class="params">
    <p><fa-icon [icon]="distanceIcon"></fa-icon>Odległość:</p>
    <p>0,4</p>
    <p class="unit">km</p>
    <p><fa-icon [icon]="rangeIcon"></fa-icon>Zasięg:</p>
    <p>{{vehicle.currentRange}}</p>
    <p class="unit">km</p>
    <p><fa-icon [icon]="fuelIcon"></fa-icon>Paliwo:</p>
    <p>{{vehicle.currentFuel}}</p>
    <p class="unit">%</p>
  </div>

  <div class="cost">
    <div class="driving">
      <p>Minuta jazdy</p>
      <p>{{vehicle.drivingPrice.toFixed(2)}}</p>
      <p>PLN/min</p>
    </div>
    <div class="stop">
      <p>Postój</p>
      <p>{{vehicle.stopOverPrice.toFixed(2)}}</p>
      <p>PLN/min</p>
    </div>
    <div class="kilometers">
      <p>Kilometr</p>
      <p>{{vehicle.distancePrice.toFixed(2)}}</p>
      <p>PLN/km</p>
    </div>
  </div>

    <div class="rent">
      <a (click)="bookVehicle()">Zarezerwuj ten samochód</a>
      <a (click)="beginRent()">Rozpocznij wynajem</a>
    </div>

    <div class="other">
      <a (click)="showDirections()">Prowadź do auta</a>
      <a (click)="calculatePrice()">Wyceń przejazd</a>
    </div>
  </div>

