<section class="user-account">
  <h2>Moje konto</h2>
  <div class="data-wrap">
    <div class="personal-data">
      <h3>Dane osobowe</h3>
      <p class="label">Imię</p>
      <p class="info">{{user.firstName}}</p>
      <p class="label">Nazwisko</p>
      <p class="info">{{user.lastName}}</p>
      <p class="label">Płeć</p>
      <p class="info">{{user.gender}}</p>
      <p class="label">Data urodzenia</p>
      <p class="info">{{user.birthDate}}</p>
    </div>
    <div class="login-data">
      <h3>Dane logowania</h3>
      <p class="label">Email</p>
      <p class="info">{{user.email}}</p>
      <p class="label">Hasło</p>
      <p class="info">{{user.password}}</p>
    </div>
    <div class="contact-data">
      <h3>Dane kontaktowe</h3>
      <p class="label">Numer telefonu</p>
      <p class="info">{{user.phoneNumber}}</p>
      <p class="label">Kraj</p>
      <p class="info">{{user.country}}</p>
      <p class="label">Ulica</p>
      <p class="info">{{user.street}}</p>
      <p class="label">Numer domu/mieszkania</p>
      <p class="info">{{user.houseNoFlatNo}}</p>
      <p class="label">Kod pocztowy</p>
      <p class="info">{{user.postcode}}</p>
      <p class="label">Miasto</p>
      <p class="info">{{user.city}}</p>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="onEdit()">Edytuj dane</button>
  <button mat-raised-button color="" (click)="deleteUser()">Usuń konto</button>
</section>
<app-menu></app-menu>
