<section class="app-content">
<!--  <div class="example" (click)="showRouteDetails()" [ngStyle]="{flexBasis: changeView()}"></div>-->
  <agm-map
    [latitude]="startPosition.latitude"
    [longitude]="startPosition.longitude"
    [zoom]="zoom"
    [zoomControl]="true"
    [clickableIcons]="false"
    (mapClick)="mapClicked($event)"
    [ngStyle]="{flexBasis: changeView()}">

    <agm-marker [latitude]="startPosition.latitude" [longitude]="startPosition.longitude"></agm-marker>

    <agm-direction *ngIf="selectedRoute" [origin]="origin" [destination]="destination"></agm-direction>
  </agm-map>
  <div class="rent-details" *ngIf="selectedRoute">
    <fa-icon [icon]="back" (click)="selectedRoute = false"></fa-icon>
    <p>Adres początkowy</p>
    <p>{{routeDetails.startAddress}}</p>
    <p>Adres docelowy</p>
    <p>{{routeDetails.endAddress}}</p>
    <p>Szacunkowy dystans:</p>
    <p>{{routeDetails.distance}}</p>
    <p>Szacunkowy czas przejazdu:</p>
    <p>{{routeDetails.duration}}</p>
    <p>Szacunkowy koszt</p>
    <p>7,20 PLN</p>
    <div class="buttons">
    <div class="rent">
      <a>Zarezerwuj ten samochód</a>
      <a>Rozpocznij wynajem</a>
    </div>

    <div class="other">
      <a >Prowadź do auta</a>
      <a (click)="selectedRoute = false">Wyceń przejazd</a>
    </div>
    </div>
  </div>
</section>
<app-menu></app-menu>
