<section class="app-content">
  <agm-map *ngIf="travelMode === 'DRIVING'"
           [latitude]="startPosition.latitude"
           [longitude]="startPosition.longitude"
           [zoom]="zoom"
           [zoomControl]="true"
           [clickableIcons]="false"
           (mapClick)="mapClicked($event)"
           [ngStyle]="{flexBasis: changeView()}">

    <agm-marker [latitude]="startPosition.latitude" [longitude]="startPosition.longitude"></agm-marker>

    <agm-direction *ngIf="selectedRoute && travelMode === 'DRIVING'" [origin]="origin"
                   [destination]="destination"></agm-direction>
  </agm-map>

  <agm-map *ngIf="selectedRoute && travelMode === 'WALKING'"
           [latitude]="userPosition.latitude"
           [longitude]="userPosition.longitude"
           [zoom]="zoom"
           [zoomControl]="true"
           [clickableIcons]="false"
           [ngStyle]="{flexBasis: changeView()}">

    <agm-direction *ngIf="selectedRoute && travelMode === 'WALKING'" [origin]="origin" [destination]="destination"
                   [travelMode]="travelMode"></agm-direction>
  </agm-map>
  <div class="rent-details" *ngIf="selectedRoute && travelMode === 'DRIVING'">
    <fa-icon [icon]="back" [routerLink]="'/mainpage'" (click)="selectedRoute = false"></fa-icon>
    <p><fa-icon [icon]="vehicleIcon"></fa-icon></p>
    <p>({{vehicle.vehicleType}}) {{vehicle.vehicleBrand}} {{vehicle.vehicleModel}} {{vehicle.registration}}</p>
    <p>Adres początkowy</p>
    <p>{{routeDetails.startAddress}}</p>
    <p>Adres docelowy</p>
    <p>{{routeDetails.endAddress}}</p>
    <p>Szacunkowy dystans:</p>
    <p>{{routeDetails.distanceText}}</p>
    <p>Szacunkowy czas przejazdu:</p>
    <p>{{routeDetails.durationText}}</p>
    <p>Szacunkowy koszt</p>
    <p>{{routeDetails.totalPrice.toFixed(2)}} zł</p>
    <div class="buttons">
        <a (click)="beginRent()">Rozpocznij wynajem</a>
    </div>
  </div>

  <div class="rent-details" *ngIf="selectedRoute && travelMode === 'WALKING'">
    <fa-icon [icon]="back" [routerLink]="'/mainpage'" (click)="selectedRoute = false"></fa-icon>
    <p><fa-icon [icon]="vehicleIcon"></fa-icon></p>
    <p>({{vehicle.vehicleType}}) {{vehicle.vehicleBrand}} {{vehicle.vehicleModel}} {{vehicle.registration}}</p>
    <p>Adres początkowy</p>
    <p>{{routeToVehicle.startAddress}}</p>
    <p>Adres docelowy</p>
    <p>{{routeToVehicle.endAddress}}</p>
    <p>Szacunkowy dystans:</p>
    <p>{{routeToVehicle.distanceText}}</p>
    <p>Szacunkowy czas:</p>
    <p>{{routeToVehicle.durationText}}</p>
    <div [ngSwitch]="this.vehicle.vehicleStatus" class="buttons">
      <a *ngSwitchCase="'FREE'" (click)="bookVehicle()">Zarezerwuj ten samochód</a>
      <a *ngSwitchCase="'RESERVED'"  class="cancel-button" (click)="reservationService.cancelActiveReservation(vehicle)">Anuluj rezerwację</a>
    </div>

  </div>
</section>
<section class="modal-reservation">
  <div class="modal-details">
    <div class="info">
      <h3>Rezerwacja</h3>
      <form #reservationForm="ngForm">
        <label for="reservationTime">Na ile godzin chcesz zarezerwować samochód?</label>
        <input id="reservationTime" name="reservationTime" type="number" #reservationTime="ngModel" [(ngModel)]="time">
        <div class="buttons">
          <button (click)="hideReservationModal()">Anuluj</button>
          <button type="submit" [disabled]="reservationForm.invalid" (click)="reservationService.reservationVehicle(time, vehicle)">Zarezerwuj</button>
        </div>
      </form>
    </div>
  </div>
</section>
<app-menu></app-menu>
