agm-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.modal-wrap {
  display: none;
}

.modal-wrap.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}
.modal-wrap.active .modal-details {
  position: absolute;
  top: 45%;
  left: 59%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 60%;
  border: 3px solid royalblue;
  border-radius: 20px;
  background-color: #3f444a;
  color: white;
}

.modal-wrap.active .modal-details .hide {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 35px;
}



