<section class="app-content">

    <agm-map
      [latitude]="userLatitude"
             [longitude]="userLongitude"
             [zoom]="zoom"
             [zoomControl]="true"
             [fullscreenControl]="true"
             [clickableIcons]="false">
      <agm-marker [latitude]="userLatitude" [longitude]="userLongitude"
                  [iconUrl]="userIcon" [markerClickable]="false" >
      </agm-marker>

      <agm-marker
        *ngFor="let vehicle of vehiclesMarkers; let i = index"
        [latitude]="vehicle.lat"
        [longitude]="vehicle.lng"
        [label]="vehicle.label"
        [markerDraggable]="vehicle.draggable"
        [iconUrl]="vehicleIcon"
        (markerClick)="clickedMarker(vehicle.id)">

        <!--    //(dragEnd)="markerDragEnd(m, $event)">-->
      </agm-marker>


    </agm-map>
    <!--<div class="user-location" (click)="userLocation()">-->
    <!--  <img src="../../assets/images/userlocation.png" alt="">-->
    <!--</div>-->

</section>

