<section class="app-content">
    <agm-map
      [latitude]="userPosition.latitude"
             [longitude]="userPosition.longitude"
             [zoom]="zoom"
             [zoomControl]="true"
             [fullscreenControl]="true"
             [clickableIcons]="false">
      <agm-marker [latitude]="userPosition.latitude" [longitude]="userPosition.longitude"
                  [iconUrl]="userIcon" [markerClickable]="false" [zIndex]="1">
      </agm-marker>

      <agm-marker
        *ngFor="let vehicle of vehiclesMarkers; let i = index"
        [latitude]="vehicle.lat"
        [longitude]="vehicle.lng"
        [label]="vehicle.label"
        [markerDraggable]="vehicle.draggable"
        [iconUrl]="vehicle.icon"
        [zIndex]="0"
        (markerClick)="clickedMarker(vehicle.id)">
      </agm-marker>
    </agm-map>
</section>
<section class="modal-wrap">
  <div class="modal-details" *ngIf="vehicleDetails">
    <fa-icon class="hide" (click)="hideDetails()" [icon]="exitIcon"></fa-icon>
  <app-vehicles [vehicle]="vehicleDetails"></app-vehicles>
  </div>
</section>


