.app-content {
  background-color: #3f444a;
}

h2 {
  margin: 40px auto 0;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

table {
  border: 3px solid royalblue;
  margin: 0 auto;
  width: 80%;
  transform: translateY(50px);
}
table th {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}

table td {
  word-spacing: 10px;
}


table td a {
  color: white;
}

nav {
  transform: translateX(-10%) translateY(200%);
}
