<div class="wrapper">
  <nav class="mobile">
  <fa-icon [icon]="menuIcon" (click)="toggleMenu()"></fa-icon>
</nav>
<nav class="menu">
  <img src="../../assets/images/CarSharing.png" alt="Logo">
  <div class="wallet">
    <fa-icon [icon]="walletIcon"></fa-icon>
    <app-wallet-value></app-wallet-value>
    <a [routerLink]="'/wallet'">Doładuj portfel</a>
  </div>

  <ul>
    <li><a [routerLink]="'/mainpage'">
      <fa-icon [icon]="mapIcon"></fa-icon>
      Mapa</a></li>
    <li><a [routerLink]="'/rentals-history'">
      <fa-icon [icon]="historyIcon"></fa-icon>
      Historia wypożyczeń</a></li>
    <li><a [routerLink]="'/active-booking'">
      <fa-icon [icon]="carIcon"></fa-icon>
      Aktywne rezerwacje</a></li>
    <li><a [routerLink]="'/account'">
      <fa-icon [icon]="userIcon"></fa-icon>
      Moje konto</a></li>
    <li><a [routerLink]="'/price-list'">
      <fa-icon [icon]="priceListIcon"></fa-icon>
      Cennik</a></li>
    <li><a [routerLink]="'/FAQ&Guides'">
      <fa-icon [icon]="infoIcon"></fa-icon>
      FAQ | Przewodnik</a></li>
    <!--    <li><a [routerLink]="'/account'"><fa-icon [icon]="faShare"></fa-icon>Poleć aplikację</a></li>-->
    <li><a [routerLink]="'/promotions'">
      <fa-icon [icon]="promoIcon"></fa-icon>
      Promocje</a></li>
    <li><a (click)="loginComp.logoutUser()">
      <fa-icon [icon]="logOutIcon"></fa-icon>
      Wyloguj</a></li>
  </ul>
  <div class="settings">
    <fa-icon [icon]="changeModeIcon"></fa-icon>
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled">
    </mat-slide-toggle>
  </div>
  <div class="socials">
    <a href="#"><img src="../../assets/images/info.jpg" alt=""></a>
    <a href="#"><img src="../../assets/images/facebook.jpg" alt=""></a>
    <a href="#"><img src="../../assets/images/instagram.png" alt=""></a>
    <a href="#"><img src="../../assets/images/twitter.png" alt=""></a>
  </div>
  <footer>
    <p>&copy; AM</p>
  </footer>
</nav>
</div>
