<section class="app-content">
  <div class="wrapper">
    <div class="credits">
      <p>Aktualny stan portfela: </p>
      <app-wallet-value></app-wallet-value>
      <form #creditForm="ngForm" (ngSubmit)="creditWallet()">
        <mat-error *ngIf="creditValue.touched && !creditValue.valid">Wprowadź wartość</mat-error>
        <input id="creditValue" name="creditValue" type="number" placeholder="Podaj kwotę" class="form-control"  #creditValue="ngModel" [(ngModel)]="value" required min="0">
        <mat-error *ngIf="pass.touched && !pass.valid">Wprowadź wartość</mat-error>
        <input type="password" id="password" name="password" placeholder="Podaj hasło" class="form-control" required [(ngModel)]="password" #pass="ngModel" >
        <button type="submit" [disabled]="creditForm.invalid">Dodaj środki </button>
      </form>
    </div>
    <div class="history">
      <table *ngIf="walletHistory" class="table table-dark table-striped">
        <thead>
        <tr>
          <th scope="col"(click)="sort('transaction_date')">Data&nbsp;<fa-icon [icon]="sortIcon"></fa-icon></th>
          <th scope="col"(click)="sort('type')">Typ transakcji&nbsp;<fa-icon [icon]="sortIcon"></fa-icon></th>
          <th scope="col"(click)="sort('value')">Kwota&nbsp;<fa-icon [icon]="sortIcon"></fa-icon></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of walletHistory | orderBy: key: reverse | paginate:{itemsPerPage: 10, currentPage: p}; let i = index; ">
          <td>{{transaction.transaction_date}}</td>
          <td>{{transaction.type}}</td>
          <td>{{transaction.value.toFixed(2)}}</td>
        </tr>
        </tbody>
      </table>
      <nav>
        <input class="form-control" type="text" name="transactionType" [(ngModel)]="transactionType" (ngModelChange)="search()"
        placeholder="Szukaj: Wpłata/Opłata">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </nav>
    </div>
  </div>
</section>
<app-menu></app-menu>
