.app-content {
  background-color: #3f444a;
}

h2 {
  margin: 40px auto 0;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.wrap table {
  border: 3px solid royalblue;
  margin: 0 auto;
  width: 80%;
  transform: translateY(50px);
}
.wrap table th {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  transition: .1s;
}
.wrap table th:nth-of-type(1), .wrap table th:nth-of-type(2),.wrap table th:nth-of-type(3) {
  cursor: pointer;
}
.wrap table th:nth-of-type(4) {
  transform: translateX(12%);
}


.wrap table th:nth-of-type(1):hover, .wrap table th:nth-of-type(2):hover,.wrap table th:nth-of-type(3):hover {
  color: royalblue;
}

.wrap table td {
  word-spacing: 10px;
}
.wrap table td a{
  cursor: pointer;
  transition: .1s;
}
.wrap table td a:hover{
  color: royalblue;
}
.wrap .paginator {
  width: 80%;
  margin: 0 auto;
  transform: translateY(70px);
  text-align: right;
  color: white;
  font-size: 20px;
}

.app-content.blur {
  filter: blur(2px);
}

.modal-wrap {
  display: none;
}

.modal-wrap.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.modal-wrap.active .modal-details {
  position: absolute;
  top: 35%;
  left: 59%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 35%;
  border: 3px solid royalblue;
  background-color: #3f444a;
  color: white;
  border-radius: 20px;
}

.modal-wrap.active .modal-details .hide {
  cursor: pointer;
  color: #3f444a;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  background-color: white;
}

.modal-wrap.active .modal-details .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal-wrap.active .modal-details .info h3 {
  margin: 20px auto 15px;
  font-size: 24px;
  flex-basis: 100%;
  text-align: center;
}

.modal-wrap.active .modal-details .info > p {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  text-align: center;
  flex-basis: 50%;
  font-size: 20px;
  margin: 0 auto 20px;
}

.modal-wrap.active .modal-details .info p fa-icon {
  display: inline-block;
  line-height: 100%;
  transform: translateY(3px);
  margin-right: 20px;
  font-size: 30px;
}

.modal-wrap.active .modal-details .info div {

  flex-basis: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-wrap.active .modal-details .info div p {
  /*background-color: pink;*/
  flex-basis: 45%;
  font-size: 16px;
}

.modal-wrap.active .modal-details .info div p:nth-of-type(odd) {
  font-style: italic;
  color:royalblue;
  margin-right: 30px;
}

.modal-wrap.active .modal-details .info div p:nth-of-type(even) {
  word-spacing: 5px;
}


/*.modal-wrap.active .modal-details .car-info p{
  flex-basis: 9%;
}
.modal-wrap.active .modal-details .car-info p:nth-of-type(1){
  flex-basis: 100%;
  text-align: center;
}*/

table td a {
  color: white;
}

/*nav {
  transform: translateX(-10%) translateY(200%);
}*/
